
{% extends 'dashboard/index.html' %}
{% block title_add %}
                        <!-- start page title -->
                        <div class="row align-items-center">
                          <div class="col-sm-6">
                              <div class="page-title-box">
                                  <h4 class="font-size-18">Software List</h4>
                                  <ol class="breadcrumb mb-0">
                                      <li class="breadcrumb-item"><a href="javascript: void(0);">Product</a></li>
                                      <li class="breadcrumb-item"><a href="javascript: void(0);">Software</a></li>
                                      <li class="breadcrumb-item active">Software List</li>
                                  </ol>
                              </div>
                          </div>
                          <div class="col-sm-6">

                          
                      </div>     
                    </div>     
                      <!-- end page title -->

{% endblock title_add %}
{% block body %}

<div class="row">
    <div class="col-12">
        {% for message in messages %}
        <div class="alert  alert-outline-success text-gradient-success mb-0" role="alert">
            <strong>{{message}}</strong>
        </div>  
        {% endfor %}
        <div class="card">

            <div class="card-body">
                <div class = " col-md-2 mb-2 ml-auto">
                <a href="{% url 'SoftwareCreate' %}"><button type="button" class=" btn btn-outline-purple btn-lg btn-block">Add Software</button>
                </a></div>

                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Software Type</th>
                        <th>Purchased On</th>
                        <th>Expiry</th>
                        <th>Installed on</th>
                        {% comment %} <th>Action</th> {% endcomment %}
                        
                    </tr>
                    </thead>


                    <tbody>
                        {% for software in software  %}
                    <tr>
                        <td>{{software.name}}</td>
                        <td>{{software.softwaretype}}</td>
                        <td>{{software.purchased_on}}</td>
                        <td>{{software.expiry}}</td>
                        <td>{{software.installed_on}}</td>
                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock body %}